<h2>Pinboard</h2>

<% @pins.each do |pin| %>
  <div class="panel panel-default">

    <div class="panel-body">
      <%= pin.description %>
      <div class="pull-right">
        <%= link_to 'Read', pin %>
        <% if pin.user == current_user %>
          <%= link_to 'Edit', edit_pin_path(pin) %>
          <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure about deleting this pin?' } %>
        <% end %>
      </div>
    </div>

    <div class="panel-footer">
      Created by <%= pin.user.try :email %>
    </div>

  </div>
<% end %>

<% unless current_user.nil? %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to 'New Pin', new_pin_path %>
    </div>
  </div>
<% end %>